*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0px;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    TwitterChirp,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
